<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>

  <div class="wrapper">

    <h2 class="footer-heading">Contacts</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        Repository @<a href="https://github.com/agriggio/ART-releases" target="_blank">GitHub</a>&nbsp;<img src="resources/github.png"/>
      </div>

      <div class="footer-col footer-col-2">
        User forum @<a href="https://discuss.pixls.us/c/software/ART" target="_blank">Pixls.us</a>&nbsp;<img src="resources/pixls.png"/>
      </div>
    </div>

  </div>

</footer>
