.site-header {
    border-top: 7px solid transparent !important;
    border-bottom: 0;
}

.site-footer {
    border-image-slice: 1;
    border-width: 5px;
    border-bottom: 0;
    border-image-source: linear-gradient(to right, rgb(255,14,13), rgb(255,108,22),rgb(247,172,22), rgb(252,209,25), rgb(107,210,4), rgb(1,191,1), rgb(1,184,218), rgb(5,97,171), rgb(21,31,164), rgb(120,31,175));
}

body {
    @include relative-font-size(1.25);
}
